<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./includes/header-part.ejs') %>
	</head>
	<body>
		<%- include('./includes/navigation.ejs') %>
		<div class="products shop">
			<% prods.forEach((prod) => {%>
			<div class="product">
				<span class="product-title"> <%= prod.title %> </span>
				<img src="<%= prod.image %>" width="120" height="150" alt="<%= prod.title %>" />
				<span>$<%= prod.price %></span>
				<span><%= prod.description %></span>
				<div class="product-actions">
					<form action="/admin/products/delete?_method=DELETE" method="POST">
						<input type="hidden" name="id" value="<%= prod.id %>" />
						<button>Delete</button>
					</form>
				</div>
				<button class="edit-btn"><a href=<%= `/admin/products/edit/${prod.id}` %> class="btn">Edit</a></button>
				
			</div>
			<% }) %>
		</div>
	</body>
</html>

